@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,300italic,400italic,600italic');
/* @font-face{
	font-family: "Thasadith";
	src: url("../fonts/Thasadith/Thasadith-Regular.ttf");
}

body { 
    background-image: url("../img/bg-light.jpg");
    font-family: Thasadith;
}

h3 { color: olive; } */